## 1: Introduction To The Data

So far, we've learned how to write SQL queries to interact with existing databases. In this guided project, you'll learn how to clean a CSV dataset and add it to a SQLite database. If you're new to either our guided projects or Jupyter notebook in general, you can learn more [here](https://www.dataquest.io/mission/162/guided-project-using-jupyter-notebook). You can find the solutions to this guided project [here](https://github.com/dataquestio/solutions/blob/master/Mission215Solutions.ipynb).

We'll work with data on Academy Award nominations, which can be downloaded [here](https://www.aggdata.com/awards/oscar). The Academy Awards, also known as the Oscars, is an annual awards ceremony hosted to recognize the achievements in the film industry. There are many different awards categories and the members of the academy vote every year to decide which artist or film should get the award. The awards categories have changed over the years, and you can learn more about when categories were added on Wikipedia.

Here are the columns in the dataset, <mark>academy_awards.csv</mark>:

- Year - the year of the awards ceremony.  
- Category - the category of award the nominee was nominated for.
- Nominee - the person nominated for the award.
- Additional Info - this column contains additional info like:
    - the movie the nominee participated in.
    - the character the nominee played (for acting awards).
- Won? - this column contains either YES or NO depending on if the nominee won the award.

Read in the dataset into a Dataframe and explore it to become more familiar with the data. Once you've cleaned the dataset, you'll use a Pandas helper method to export the data into a SQLite database.

#### Instructions:

- Import pandas and read the CSV file academy_awards.csv into a Dataframe using the read_csv method.
    - When reading the CSV, make sure to set the encoding to ISO-8859-1 so it can be parsed properly.
- Start exploring the data in Pandas and look for data quality issues.
    - Use the head method to explore the first few rows in the Dataframe.
    - There are 6 unnamed columns at the end. Use the value_counts method to explore if any of them have valid values that we need.
    - You'll notice that the Additional Info column contains a few different formatting styles. Start brainstorming ways to clean this column up.

In [137]:
import pandas as pd

# view data
df = pd.read_csv("data/academy_awards.csv", encoding="ISO-8859-1")
df

,Year,Category,Nominee,Additional Info,Won?,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10
0,2010 (83rd),Actor -- Leading Role,Javier Bardem,Biutiful {'Uxbal'},NO,NaN,NaN,NaN,NaN,NaN,NaN
1,2010 (83rd),Actor -- Leading Role,Jeff Bridges,True Grit {'Rooster Cogburn'},NO,NaN,NaN,NaN,NaN,NaN,NaN
2,2010 (83rd),Actor -- Leading Role,Jesse Eisenberg,The Social Network {'Mark Zuckerberg'},NO,NaN,NaN,NaN,NaN,NaN,NaN
3,2010 (83rd),Actor -- Leading Role,Colin Firth,The King's Speech {'King George VI'},YES,NaN,NaN,NaN,NaN,NaN,NaN
4,2010 (83rd),Actor -- Leading Role,James Franco,127 Hours {'Aron Ralston'},NO,NaN,NaN,NaN,NaN,NaN,NaN
5,2010 (83rd),Actor -- Supporting Role,Christian Bale,The Fighter {'Dicky Eklund'},YES,NaN,NaN,NaN,NaN,NaN,NaN
6,2010 (83rd),Actor -- Supporting Role,John Hawkes,Winter's Bone {'Teardrop'},NO,NaN,NaN,NaN,NaN,NaN,NaN
7,2010 (83rd),Actor -- Supporting Role,Jeremy Renner,The Town {'James Coughlin'},NO,NaN,NaN,NaN,NaN,NaN,NaN
8,2010 (83rd),Actor -- Supporting Role,Mark Ruffalo,The Kids Are All Right {'Paul'},NO,NaN,NaN,NaN,NaN,NaN,NaN
9,2010 (83rd),Actor -- Supporting Role,Geoffrey Rush,The King's Speech {'Lionel Logue'},NO,NaN,NaN,NaN,NaN,NaN,NaN
10,2010 (83rd),Actress -- Leading Role,Annette Bening,The Kids Are All Right {'Nic'},NO,NaN,NaN,NaN,NaN,NaN,NaN
11,2010 (83rd),Actress -- Leading Role,Nicole Kidman,Rabbit Hole {'Becca'},NO,NaN,NaN,NaN,NaN,NaN,NaN
12,2010 (83rd),Actress -- Leading Role,Jennifer Lawrence,Winter's Bone {'Ree'},NO,NaN,NaN,NaN,NaN,NaN,NaN
13,2010 (83rd),Actress -- Leading Role,Natalie Portman,Black Swan {'Nina Sayers/The Swan Queen'},YES,NaN,NaN,NaN,NaN,NaN,NaN
14,2010 (83rd),Actress -- Leading Role,Michelle Williams,Blue Valentine {'Cindy'},NO,NaN,NaN,NaN,NaN,NaN,NaN
15,2010 (83rd),Actress -- Supporting Role,Amy Adams,The Fighter {'Charlene Fleming'},NO,NaN,NaN,NaN,NaN,NaN,NaN
16,2010 (83rd),Actress -- Supporting Role,Helena Bonham Carter,The King's Speech {'Queen Elizabeth'},NO,NaN,NaN,NaN,NaN,NaN,NaN
17,2010 (83rd),Actress -- Supporting Role,Melissa Leo,The Fighter {'Alice Ward'},YES,NaN,NaN,NaN,NaN,NaN,NaN
18,2010 (83rd),Actress -- Supporting Role,Hailee Steinfeld,True Grit {'Mattie Ross'},NO,NaN,NaN,NaN,NaN,NaN,NaN
19,2010 (83rd),Actress -- Supporting Role,Jacki Weaver,Animal Kingdom {'Janine 'Smurf' Cody'},NO,NaN,NaN,NaN,NaN,NaN,NaN
20,2010 (83rd),Animated Feature Film,How to Train Your Dragon,Chris Sanders and Dean DeBlois,NO,NaN,NaN,NaN,NaN,NaN,NaN
21,2010 (83rd),Animated Feature Film,The Illusionist,Sylvain Chomet,NO,NaN,NaN,NaN,NaN,NaN,NaN
22,2010 (83rd),Animated Feature Film,Toy Story 3,Lee Unkrich,YES,NaN,NaN,NaN,NaN,NaN,NaN
23,2010 (83rd),Art Direction,Alice in Wonderland,Production Design: Robert Stromberg; Set Decor...,YES,NaN,NaN,NaN,NaN,NaN,NaN
24,2010 (83rd),Art Direction,Harry Potter and the Deathly Hallows Part 1,Production Design: Stuart Craig; Set Decoratio...,NO,NaN,NaN,NaN,NaN,NaN,NaN
25,2010 (83rd),Art Direction,Inception,Production Design: Guy Hendrix Dyas; Set Decor...,NO,NaN,NaN,NaN,NaN,NaN,NaN
26,2010 (83rd),Art Direction,The King's Speech,Production Design: Eve Stewart; Set Decoration...,NO,NaN,NaN,NaN,NaN,NaN,NaN
27,2010 (83rd),Art Direction,True Grit,Production Design: Jess Gonchor; Set Decoratio...,NO,NaN,NaN,NaN,NaN,NaN,NaN
28,2010 (83rd),Cinematography,Black Swan,Matthew Libatique,NO,NaN,NaN,NaN,NaN,NaN,NaN
29,2010 (83rd),Cinematography,Inception,Wally Pfister,YES,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
10107,1927/28 (1st),Art Direction,Harry Oliver,7th Heaven,NO,NaN,NaN,NaN,NaN,NaN,NaN
10108,1927/28 (1st),Cinematography,George Barnes,The Devil Dancer; The Magic Flame; and Sadie T...,NO,NaN,NaN,NaN,NaN,NaN,NaN
10109,1927/28 (1st),Cinematography,Charles Rosher,Sunrise,YES,NaN,NaN,NaN,NaN,NaN,NaN
10110,1927/28 (1st),Cinematography,Karl Struss,Sunrise,YES,NaN,NaN,NaN,NaN,NaN,NaN
10111,1927/28 (1st),Directing,Lewis Milestone,Two Arabian Knights,YES,NaN,NaN,NaN,NaN,NaN,NaN
10112,1927/28 (1st),Directing,Ted Wilde,Speedy,NO,NaN,NaN,NaN,NaN,NaN,NaN
10113,1927/28 (1st),Directing,Frank Borzage,7th Heaven,YES,NaN,NaN,NaN,NaN,NaN,NaN
10114,1927/28 (1st),Directing,Herbert Brenon,Sorrell and Son,NO,NaN,NaN,NaN,NaN,NaN,NaN
10115,1927/28 (1st),Directing,King Vidor,The Crowd,NO,NaN,NaN,NaN,NaN,NaN,NaN
10116,1927/28 (1st),Directing,"To Charles Chaplin, for acting, writing, direc...",NaN,YES,NaN,NaN,NaN,NaN,NaN,NaN
10117,1927/28 (1st),Best Picture,The Caddo Company,The Racket,NO,NaN,NaN,NaN,NaN,NaN,NaN
10118,1927/28 (1st),Best Picture,Fox,7th Heaven,NO,NaN,NaN,NaN,NaN,NaN,NaN
10119,1927/28 (1st),Best Picture,Paramount Famous Lasky,Wings,YES,NaN,NaN,NaN,NaN,NaN,NaN
10120,1927/28 (1st),Writing,Alfred Cohn,The Jazz Singer,NO,NaN,NaN,NaN,NaN,NaN,NaN
10121,1927/28 (1st),Writing,Anthony Coldeway,Glorious Betsy,NO,NaN,NaN,NaN,NaN,NaN,NaN
10122,1927/28 (1st),Writing,Benjamin Glazer,7th Heaven,YES,NaN,NaN,NaN,NaN,NaN,NaN
10123,1927/28 (1st),Writing,Lajos Biro,The Last Command,NO,NaN,NaN,NaN,NaN,NaN,NaN
10124,1927/28 (1st),Writing,Ben Hecht,Underworld,YES,NaN,NaN,NaN,NaN,NaN,NaN
10125,1927/28 (1st),Writing,Gerald Duffy,The Private Life of Helen of Troy,NO,NaN,NaN,NaN,NaN,NaN,NaN
10126,1927/28 (1st),Writing,Joseph Farnham[NOTE: This award was not associ...,NaN,YES,NaN,NaN,NaN,NaN,NaN,NaN
10127,1927/28 (1st),Writing,"George Marion, Jr.[NOTE: This nomination was n...",NaN,NO,NaN,NaN,NaN,NaN,NaN,NaN
10128,1927/28 (1st),Writing,"To Charles Chaplin, for acting, writing, direc...",NaN,YES,NaN,NaN,NaN,NaN,NaN,NaN
10129,1927/28 (1st),Honorary Award,"To Warner Bros., for producing The Jazz Singer...",NaN,YES,NaN,NaN,NaN,NaN,NaN,NaN
10130,1927/28 (1st),Honorary Award,"To Charles Chaplin, for acting, writing, direc...",NaN,YES,NaN,NaN,NaN,NaN,NaN,NaN
10131,1927/28 (1st),Engineering Effects (archaic category),Ralph Hammeras [NOTE: This nomination was not ...,NaN,NO,NaN,NaN,NaN,NaN,NaN,NaN
10132,1927/28 (1st),Engineering Effects (archaic category),Roy Pomeroy,Wings,YES,NaN,NaN,NaN,NaN,NaN,NaN
10133,1927/28 (1st),Engineering Effects (archaic category),Nugent Slaughter [NOTE: Though no specific tit...,NaN,NO,NaN,NaN,NaN,NaN,NaN,NaN
10134,1927/28 (1st),Unique and Artistic Picture (archaic category),Fox,Sunrise,YES,NaN,NaN,NaN,NaN,NaN,NaN
10135,1927/28 (1st),Unique and Artistic Picture (archaic category),Metro-Goldwyn-Mayer,The Crowd,NO,NaN,NaN,NaN,NaN,NaN,NaN
10136,1927/28 (1st),Unique and Artistic Picture (archaic category),Paramount Famous Lasky,Chang,NO,NaN,NaN,NaN,NaN,NaN,NaN

## 2: Filtering The Data
The dataset is incredibly messy and you may have noticed many inconsistencies that make it hard to work with. Most columns don't have consistent formatting, which is incredibly important when we use SQL to query the data later on. Other columns vary in the information they convey based on the type of awards category that row corresponds to.

In the SQL and Databases: Intermediate course, we worked with a subset of the same dataset. This subset contained only the nominations from years 2001 to 2010 and only the following awards categories:

- Actor -- Leading Role
- Actor -- Supporting Role
- Actress -- Leading Role
- Actress -- Supporting Role

Let's filter our Dataframe to the same subset so it's more manageable.

#### Instructions: 
- Before we filter the data, let's clean up the Year column by selecting just the first 4 digits in each value in the column, therefore excluding the value in parentheses:
    - Use Pandas vectorized string methods to select just the first 4 elements in each string.
        E.g. df["Year"].str[0:2] returns a Series containing just the first 2 characters for each element in the Year column.
    - Assign this new Series to the Year column to overwrite the original column.
    - Convert the Year column to the int64 data type using astype. Make sure to reassign the integer Series object back to the Year column in the Dataframe or the changes won't be reflected.
- Use conditional filtering to select only the rows from the Dataframe where the Year column is larger than 2000. Assign the new filtered Dataframe to later_than_2000.
- Use conditional filtering to select only the rows from later_than_2000 where the Category matches one of the 4 awards we're interested in.
    - Create a list of strings named award_categories with the following strings:
        - Actor -- Leading Role
        - Actor -- Supporting Role
        - Actress -- Leading Role
        - Actress -- Supporting Role
    - Use the isin method in the conditional filter to return all rows in a column that match any of the values in a list of strings.
        - Pass in award_categories to the isin method to return all rows : later_than_2000[later_than_2000["Category"].isin(award_categories)]
        - Assign the resulting Dataframe to nominations.

In [138]:
# clean up Year column
df.Year = df.Year.str[:4]
df.Year = df.Year.astype("int64")
print(df.Year.dtype)

# remove years before 2001
print(df.Year.unique())
later_than_2000 = df[df.Year > 2000]
later_than_2000.head()

# remove all but four categories
#print(later_than_2000.Category.unique)
categories = ['Actor -- Leading Role', 'Actor -- Supporting Role',
             'Actress -- Leading Role', 'Actress -- Supporting Role']
later_than_2000 = later_than_2000[later_than_2000.Category.isin(categories)]
later_than_2000.head()

int64
[2010 2009 2008 2007 2006 2005 2004 2003 2002 2001 2000 1999 1998 1997 1996
 1995 1994 1993 1992 1991 1990 1989 1988 1987 1986 1985 1984 1983 1982 1981
 1980 1979 1978 1977 1976 1975 1974 1973 1972 1971 1970 1969 1968 1967 1966
 1965 1964 1963 1962 1961 1960 1959 1958 1957 1956 1955 1954 1953 1952 1951
 1950 1949 1948 1947 1946 1945 1944 1943 1942 1941 1940 1939 1938 1937 1936
 1935 1934 1932 1931 1930 1929 1928 1927]

,Year,Category,Nominee,Additional Info,Won?,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10
0,2010,Actor -- Leading Role,Javier Bardem,Biutiful {'Uxbal'},NO,NaN,NaN,NaN,NaN,NaN,NaN
1,2010,Actor -- Leading Role,Jeff Bridges,True Grit {'Rooster Cogburn'},NO,NaN,NaN,NaN,NaN,NaN,NaN
2,2010,Actor -- Leading Role,Jesse Eisenberg,The Social Network {'Mark Zuckerberg'},NO,NaN,NaN,NaN,NaN,NaN,NaN
3,2010,Actor -- Leading Role,Colin Firth,The King's Speech {'King George VI'},YES,NaN,NaN,NaN,NaN,NaN,NaN
4,2010,Actor -- Leading Role,James Franco,127 Hours {'Aron Ralston'},NO,NaN,NaN,NaN,NaN,NaN,NaN

## 3: Cleaning Up The Won? And Unnamed Columns

Since SQLite uses the integers 0 and 1 to represent Boolean values, convert the Won? column to reflect this. Also rename the Won? column to Won so that it's consistent with the other column names. Finally, get rid of the 6 extra, unnamed columns, since they contain only null values in our filtered Dataframe nominations.

#### Instructions:
- Use the Series method map to replace all NO values with 0 and all YES values with 1.
    - Select the Won? column from nominations.
    - Then create a dictionary where each key is a value we want to replace and each value is the corresponding replacement value.
        - The following dictionary replace_dict = { True: 1, False: 0 } would replace all True values with 1 and all False values with 0.
    - Call the map function on the Series object and pass in the dictionary you created.
    - Finally, reassign the new Series object to the Won? column in nominations.
- Create a new column Won that contains the values from the Won? column.
    - Select the Won? column and assign it to the Won column. Both columns should be in the Dataframe still.
- Use the drop method to remove the extraneous columns.
    - As the required parameter, pass in a list of strings containing the following values:
        - Won?
        - Unnamed: 5
        - Unnamed: 6
        - Unnamed: 7
        - Unnamed: 8
        - Unnamed: 9
        - Unnamed: 10
    - Set the axis parameter to 1 when calling the drop method.
    - Assign the resulting Dataframe to final_nominations.

In [141]:
df = later_than_2000

# check headers
print(df.columns)

# drop NaN columns
dropcols = ['Unnamed: 5','Unnamed: 6','Unnamed: 7',
            'Unnamed: 8', 'Unnamed: 9','Unnamed: 10']
df = df.drop(dropcols, axis=1)
df.head()

# change Won? to Won
df.rename(columns={'Won?':'Won'}, inplace=True)

# check Won column
print(df.Won.unique())

# map Won column YES/NO to 1/0
won_map = {'YES':1,'NO':0}
df.Won = df.Won.map(won_map)
df.head()

Index(['Year', 'Category', 'Nominee', 'Additional Info', 'Won?', 'Unnamed: 5',
       'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9', 'Unnamed: 10'],
      dtype='object')
['NO' 'YES']

,Year,Category,Nominee,Additional Info,Won
0,2010,Actor -- Leading Role,Javier Bardem,Biutiful {'Uxbal'},0
1,2010,Actor -- Leading Role,Jeff Bridges,True Grit {'Rooster Cogburn'},0
2,2010,Actor -- Leading Role,Jesse Eisenberg,The Social Network {'Mark Zuckerberg'},0
3,2010,Actor -- Leading Role,Colin Firth,The King's Speech {'King George VI'},1
4,2010,Actor -- Leading Role,James Franco,127 Hours {'Aron Ralston'},0

## 4: Cleaning Up The Additional Info Column
Now clean up the Additional Info column, whose values are formatted like so:

``MOVIE {'CHARACTER'}``

Here are some examples:

- Biutiful {'Uxbal'} - Biutiful is the movie and Uxbal is the character this nominee played.
- True Grit {'Rooster Cogburn'} - True Grit is the movie and Rooster Cogburn is the character this nominee played.
- The Social Network {'Mark Zuckerberg'} - The Social Network is the movie and Mark Zuckerberg is the character this nominee played.

The values in this column contain the movie name and the character the nominee played. Instead of keeping these values in 1 column, split them up into 2 different columns for easier querying.

#### Instructions:
- Use vectorized string methods to clean up the Additional Info column:
    - Select the Additional Info column and strip the single quote and closing brace ("'}") using the rstrip method. Assign the resulting Series object to additional_info_one.
    - Split additional_info_one on the string, " {', using the split method and assign to additional_info_two. Each value in this Series object should be a list containing the movie name first then the character name.
    - Access the first element from each list in additional_info_two using vectorized string methods and assign to movie_names. Here's what the code looks like: additional_info_two.str[0]
    - Access the second element from each list in additional_info_two using vectorized string methods and assign to characters.
- Assign the Series movie_names to the Movie column in the final_nominations Dataframe.
- Assign the Series characters to the Character column in the final_nominations Dataframe.
- Use the head method to preview the first few rows to make sure the values in the Character and Movie columns resemble the Additional Info column.
- Drop the Additional Info column using the drop method.

In [142]:
df2 = df
df2.head()

# clean up Additional Info column
df2['Additional Info'] = df2['Additional Info'].str.rstrip("'}")
movie_character = df2['Additional Info'].str.split(" {'")
print(movie_character[:5])
print(movie_character.str[0][:5])
df2['Movie'] = movie_character.str[0]
df2['Character'] = movie_character.str[1]
df2 = df2.drop("Additional Info", axis=1)
df2.head()

0                        [Biutiful, Uxbal]
1             [True Grit, Rooster Cogburn]
2    [The Social Network, Mark Zuckerberg]
3      [The King's Speech, King George VI]
4                [127 Hours, Aron Ralston]
Name: Additional Info, dtype: object
0              Biutiful
1             True Grit
2    The Social Network
3     The King's Speech
4             127 Hours
Name: Additional Info, dtype: object

,Year,Category,Nominee,Won,Movie,Character
0,2010,Actor -- Leading Role,Javier Bardem,0,Biutiful,Uxbal
1,2010,Actor -- Leading Role,Jeff Bridges,0,True Grit,Rooster Cogburn
2,2010,Actor -- Leading Role,Jesse Eisenberg,0,The Social Network,Mark Zuckerberg
3,2010,Actor -- Leading Role,Colin Firth,1,The King's Speech,King George VI
4,2010,Actor -- Leading Role,James Franco,0,127 Hours,Aron Ralston

In [143]:
# reorder columns
new_order = ['Year','Category','Nominee','Movie','Character','Won']
df3 = df2[new_order]
df3.head()

,Year,Category,Nominee,Movie,Character,Won
0,2010,Actor -- Leading Role,Javier Bardem,Biutiful,Uxbal,0
1,2010,Actor -- Leading Role,Jeff Bridges,True Grit,Rooster Cogburn,0
2,2010,Actor -- Leading Role,Jesse Eisenberg,The Social Network,Mark Zuckerberg,0
3,2010,Actor -- Leading Role,Colin Firth,The King's Speech,King George VI,1
4,2010,Actor -- Leading Role,James Franco,127 Hours,Aron Ralston,0

## 5: Exporting To SQLite

Now that our Dataframe is cleaned up, let's write these records to a SQL database. We can use the Pandas Dataframe method `to_sql` to create a new table in a database we specify. This method has 2 required parameters:

name - string corresponding to the name of the table we want created. The rows from our Dataframe will be added to this table after it's created.
conn: the Connection instance representing the database we want to add to.
Behind the scenes, Pandas creates a table and uses the first parameter to name it. Pandas uses the data types of each of the columns in the Dataframe to create a SQLite schema for this table. Since SQLite uses integer values to represent Booleans, it was important to convert the Won column to the integer values 0 and 1. We also converted the Year column to the integer data type, so that this column will have the appropriate type in our table. Here's the mapping for our columns from the Pandas data type to the SQLite data type:

| column    | Pandas data type | SQLite data type |
|-----------|------------------|------------------|
| Year      | int64            | integer          |
| Won       | int64            | integer          |
| Category  | object           | text             |
| Nominee   | object           | text             |
| Movie     | object           | text             |
| Character | object           | text             |

After creating the table, Pandas creates a large INSERT query and runs it to insert the values into the table. We can customize the behavior of the to_sql method using its parameters. For example, if we wanted to append rows to an existing SQLite table instead of creating a new one, we can set the if_exists parameter to "append". By default, if_exists is set to "fail" and no rows will be inserted if we specify a table name that already exists. If we're inserting a large number of records into SQLite and we want to break up the inserting of records into chunks, we can use the chunksize parameter to set the number of rows we want inserted each time.

Since we're creating a database from scratch, we need to create a database file first so we can connect to it and export our data. To create a new database file, we use the sqlite3 library to connect to a file path that doesn't exist yet. If Python can't find the file we specified, it will create it for us and treat it as a SQLite database file.

SQLite doesn't have a special file format and you can use any file extension you'd like when creating a SQLite database. We generally use the .db extension, which isn't a file extension that's generally used for other applications.

#### Instructions:
- Create the SQLite database nominations.db and connect to it.
    - Import sqlite3 into the environment.
    - Use the sqlite3 method connect to connect to the database file nominations.db.
        - Since it doesn't exist in our current directory, it will be automatically created.
        - Assign the returned Connection instance to conn.
- Use the Dataframe method to_sql to export final_nominations to nominations.db.
    - For the first parameter, set the table name to "nominations".
    - For the second parameter, pass in the Connection instance.
    - Set the index parameter to False.

In [146]:
# create and connect to new database
import sqlite3
conn = sqlite3.connect("data/nominations.db")

In [147]:
# export df to db
df3.to_sql("nominations", conn, index=False)

## 6: Verifying In SQL
Let's now query the database to make sure everything worked as expected.

#### Instructions: 
- Import sqlite3 into the environment.
- Create a Connection instance using the sqlite3 method connect to connect to your database file.
- Explore the database to make sure the nominations table matches our Dataframe.
    - Return and print the schema using pragma table_info(). The following schema should be returned:
        - Year: Integer.
        - Category: Text.
        - Nominee: Text.
        - Won: Text.
        - Movie: Text.
        - Character: Text.
    - Return and print the first 10 rows using the SELECT and LIMIT statements.
- Once you're done, use the Connection method close to close the connection to the database.

In [152]:
query = "pragma table_info(nominations);"
conn.execute(query).fetchall()

[(0, 'Year', 'INTEGER', 0, None, 0),
 (1, 'Category', 'TEXT', 0, None, 0),
 (2, 'Nominee', 'TEXT', 0, None, 0),
 (3, 'Movie', 'TEXT', 0, None, 0),
 (4, 'Character', 'TEXT', 0, None, 0),
 (5, 'Won', 'INTEGER', 0, None, 0)]

In [155]:
query = "select * from nominations limit 10;"
pd.read_sql(query, conn)

,Year,Category,Nominee,Movie,Character,Won
0,2010,Actor -- Leading Role,Javier Bardem,Biutiful,Uxbal,0
1,2010,Actor -- Leading Role,Jeff Bridges,True Grit,Rooster Cogburn,0
2,2010,Actor -- Leading Role,Jesse Eisenberg,The Social Network,Mark Zuckerberg,0
3,2010,Actor -- Leading Role,Colin Firth,The King's Speech,King George VI,1
4,2010,Actor -- Leading Role,James Franco,127 Hours,Aron Ralston,0
5,2010,Actor -- Supporting Role,Christian Bale,The Fighter,Dicky Eklund,1
6,2010,Actor -- Supporting Role,John Hawkes,Winter's Bone,Teardrop,0
7,2010,Actor -- Supporting Role,Jeremy Renner,The Town,James Coughlin,0
8,2010,Actor -- Supporting Role,Mark Ruffalo,The Kids Are All Right,Paul,0
9,2010,Actor -- Supporting Role,Geoffrey Rush,The King's Speech,Lionel Logue,0

In [157]:
conn.close()

## 7: Next Steps

In this guided project, you used Pandas to clean a CSV dataset and export it to a SQLite database. As a data scientist, it's important to learn many tools and how to use them together to accomplish what you need to. As you do more guided projects, you'll become more familiar with the strengths and weaknesses of each tool. For example, you probably have noticed that data cleaning is much easier in Pandas than in SQL.

- For next steps, explore the rest of our original dataset academy_awards.csv and brainstorm how to fix the rest of the dataset:
    - The awards categories in older ceremonies were different than the ones we have today. What relevant information should we keep from older ceremonies?
    - What are all the different formatting styles that the Additional Info column contains. Can we use tools like regular expressions to capture these patterns and clean them up?
        - The nominations for the Art Direction category have lengthy values for Additional Info. What information is useful and how do we extract it?
        - Many values in Additional Info don't contain the character name the actor or actress played. Should we toss out character name altogether as we expand our data? What tradeoffs do we make by doing so?
    - What's the best way to handle awards ceremonies that included movies from 2 years?
        - E.g. see 1927/28 (1st) in the Year column.

Next up is a guided project where we'll continue down the path we started and explore how to normalize our data into multiple tables using relations.

In [210]:
# example of doing this with regex

import re

df_regex_test = pd.read_csv("data/academy_awards.csv", encoding="ISO-8859-1")
# drop NaN columns
dropcols = ['Unnamed: 5','Unnamed: 6','Unnamed: 7',
            'Unnamed: 8', 'Unnamed: 9','Unnamed: 10']
df_regex_test = df_regex_test.drop(dropcols, axis=1)
df_regex_test.head(3)

,Year,Category,Nominee,Additional Info,Won?
0,2010 (83rd),Actor -- Leading Role,Javier Bardem,Biutiful {'Uxbal'},NO
1,2010 (83rd),Actor -- Leading Role,Jeff Bridges,True Grit {'Rooster Cogburn'},NO
2,2010 (83rd),Actor -- Leading Role,Jesse Eisenberg,The Social Network {'Mark Zuckerberg'},NO

In [215]:
# Series.str.extract(pat, flags=0, expand=None)[source]
# For each subject string in the Series, extract groups from the first match of regular expression pat.

# regex pattern
df_regex_test[['Movie', 
               'Character']] = df_regex_test['Additional Info'].str.extract('(.*)\s*{(.*)}', 
                                                                            expand = True)
# drop old, display
df_regex_test = df_regex_test.drop('Additional Info', axis=1)
df_regex_test.head()

,Year,Category,Nominee,Won?,Movie,Character
0,2010 (83rd),Actor -- Leading Role,Javier Bardem,NO,Biutiful,'Uxbal'
1,2010 (83rd),Actor -- Leading Role,Jeff Bridges,NO,True Grit,'Rooster Cogburn'
2,2010 (83rd),Actor -- Leading Role,Jesse Eisenberg,NO,The Social Network,'Mark Zuckerberg'
3,2010 (83rd),Actor -- Leading Role,Colin Firth,YES,The King's Speech,'King George VI'
4,2010 (83rd),Actor -- Leading Role,James Franco,NO,127 Hours,'Aron Ralston'